#carousel{
	display:flex;
	flex-direction:column;
}

#carousel img{
	max-height: 75vh;
	border-radius: 1vh;
	background-size: contain;
}

.timer{
	flex: 0 0 auto;
	height:1vh;
	background-color:white;
	border-radius:5vh;
	transition: width 1800ms;
}


